:root {
  --color-primario: #1c1c1c;
  --color-texto: #1c1c1c;
  --color-secundario: #3e5c76;
  --color-navbar: #1d2d44;
  --color-textnav: #3e5c76;
  --color-title: #daddd8;
  --color-icon: #daddd8;
  --bs-body-bg: #dcdcdd;
  --color-hovers: #d15858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div .section_actual {
  background-color: var(--color-primario);
  color: var(--color-title);
  grid-column: span 3;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0px 0px 5px #000000;
}

.botones_animados {
  display: inline-flex;
  width: 150px;
  height: 60px;
  background-color: var(--color-secundario);
  color: var(--color-icon);
  font-size: 20px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
}

.botones_animados:hover {
  background-color: var(--color-icon);
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

.contenedor .sidebar {
  padding: 20px;
  grid-row: 2/3;
  background-color: #eef0f2;
  height: 60vh;
  position: sticky;
  display: flex;
  top: 10px;
  border-radius: 7px;
  flex-direction: column;
  box-shadow: 0px 0px 5px #979797;
}
.contenedor .sidebar .boton_aside {
  background-color: #eef0f2;
  color: var(--color-primario);
  font-size: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
}
.contenedor .sidebar .boton_aside:hover {
  color: var(--color-hovers);
}

aside {
  color: var(--color-texto);
}
aside .position_aside {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
aside .contenedor_temario {
  padding-top: 20px;
  margin-bottom: 90px;
}
aside .lista_aside {
  list-style: none;
  padding-left: 10px;
  margin-left: 10px;
}
aside .titulo_aside {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  color: var(--color-primario);
}
aside .lista_aside li {
  position: relative;
  text-align: left;
}
aside .lista_aside li::before {
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  background-color: var(--color-primario);
  transform: rotate(45deg);
  position: absolute;
  left: -19px;
  top: 44%;
}
aside .lista_aside li a {
  display: block;
  color: var(--color-primario);
  padding: 15px 10px;
  text-decoration: none;
}
aside .lista_aside li a:hover {
  color: var(--color-hovers);
}

.titulo_servicios {
  display: flex;
  justify-content: center;
  color: #eeefee;
}

.servicios_main {
  display: flex;
  justify-content: center;
  background-color: rgb(233, 233, 233);
}
.servicios_main section {
  max-height: 600px;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgb(179, 179, 179);
  max-width: 500px;
  min-width: 371px;
  margin: 20px 0px 20px 10px;
  padding-bottom: 5px;
}
.servicios_main section a {
  text-decoration: none;
  color: rgb(63, 113, 155);
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  main section {
    height: 100vw;
    font-size: medium;
    margin: 0px;
    padding: 0px;
  }
  .botones_animados_footer {
    display: inline-flex;
    width: 50px;
    height: 30px;
    background-color: var(--color-primario);
    color: var(--color-icon);
    font-size: 10px;
    margin: 5px;
  }
}
img {
  display: flex;
  align-items: center;
  height: 420px;
  margin-top: 20px;
  width: 100%;
  object-fit: cover;
}
img .img_principal {
  display: block;
  height: 420px;
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  object-fit: cover;
}

.formulario {
  background-color: #1c1c1c;
  width: 100vw;
  padding: 20px;
}
.formulario h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #eef;
}
.formulario .titulo_contact {
  text-align: center;
  color: #eef;
  padding-top: 20px;
}
.formulario form {
  width: auto;
  max-height: 600px;
  max-width: 500px;
  margin: 10px auto;
  padding-left: 50px;
}
.formulario form input {
  width: 400px;
  height: 70px;
  text-align: center;
  padding: 0px 10px;
  margin: 10px;
  font-size: 18px;
}
.formulario form textarea {
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}
.formulario form button {
  margin: 20px;
}
.formulario form div {
  display: flex;
  justify-content: center;
}

.mapa {
  display: flex;
  justify-content: center;
  padding-left: 100px;
}

@media (max-width: 992px) {
  .formulario {
    background-color: var(--color-primario);
    padding: 0;
  }
  .formulario form {
    padding-left: 0;
  }
  .formulario form input {
    margin: 0;
  }
  .formulario form textarea {
    width: 100vw;
  }
  .formulario section {
    margin: 0;
    padding: 0;
  }
}
main .contenedor_nosotros {
  max-width: 1300px;
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 10px;
  border-top: solid 2px rgb(80, 80, 80);
  font-size: 24px;
  color: #efefef;
  text-align: center;
  background-color: var(--color-secundario);
}
main .contenedor_nosotros img {
  object-fit: cover;
  transition: 0.3s ease all;
  overflow: hidden;
  box-shadow: 0px 0px 10px #353535;
}
main .contenedor_nosotros img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(0.9);
}
main .contenedor_nosotros p {
  margin-top: 100px;
  margin: 50px;
  text-align: left;
}
main .contenedor_nosotros .nosotros_video {
  height: 500px;
  width: 90%;
  margin: 60px;
  box-shadow: 0px 0px 10px rgb(75, 1, 1);
}
main .contenedor_nosotros h1 {
  margin: 30px;
}

@media (max-width: 768px) {
  main .contenedor_nosotros {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin: 0;
  }
  main .contenedor_nosotros img {
    box-shadow: none;
  }
}
header {
  background-color: #000000;
}
header .navbar {
  background: var(--color-primario);
  position: sticky;
  top: 0;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  height: 70px;
}
header .navbar a {
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-right: 30px;
  color: var(--color-title);
  transition: 0.3s ease-out all;
  text-decoration: none;
  font-size: 23px;
}
header .navbar a:hover {
  color: var(--color-hovers);
  text-decoration: none;
}
header .navbar ul {
  display: flex;
  margin: 0;
}
header .navbar .boton_logo {
  display: flex;
  background-color: var(--color-primario);
  color: var(--color-icon);
  font-size: 40px;
  border: none;
  padding: 0px 50px;
}
header .navbar .desplegable {
  margin-right: 30px;
  font-size: 35px;
  color: #ffffff;
  cursor: pointer;
  margin: 6px;
  left: 0;
  display: block;
}
header .navbar .desplegable ul {
  display: none;
}
header .navbar .desplegable:hover {
  color: var(--color-hovers);
  background-color: #000000;
}
header .navbar .desplegable:hover .desplegable_ul {
  display: block;
  width: 100vw;
}
header .navbar .desplegable:hover .desplegable_ul li {
  margin: 30px;
}
header .portada {
  background-image: url(../imagenes/portada1.jpg);
  background-size: cover;
  font-size: 100px;
  color: var(--color-title);
  font-weight: 900;
  text-align: center;
}
header .titulos_principales {
  padding: 10%;
}

body {
  font-family: "Crimson Text" sans-serif;
  font-size: 18px;
  color: var(--color-texto);
  position: relative;
  padding-bottom: 118px;
}

ul {
  list-style: none;
  margin: 30px;
}
ul li {
  text-align: left;
}
ul a {
  text-decoration: none;
  color: var(--color-secundario);
}
ul a:hover {
  color: var(--color-hovers);
}

.contenedor {
  max-width: 1300px;
  margin: 10px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 20%;
  grid-template-rows: repeat(3, auto);
  margin-bottom: 0px;
  width: 100vw;
}
.contenedor main .parrafo_main {
  margin: 60px;
}
.contenedor main .titulo_contenido {
  margin-top: 20px;
  text-align: center;
}
.contenedor .contenido {
  grid-row: 2/3;
  display: flexbox;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
  background-color: #eef0f2;
}

footer {
  background-color: var(--color-primario);
  color: #555555;
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow-x: hidden;
}
footer .botones_animados_footer {
  display: inline-flex;
  width: 80px;
  height: 50px;
  background-color: var(--color-primario);
  color: var(--color-icon);
  font-size: 30px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
}
footer .botones_animados_footer:hover {
  background-color: #000000;
  color: #ffffff;
}
footer .ul_botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul {
  list-style: none;
  margin: 12px;
}

@media (max-width: 992px) {
  .contenido {
    grid-column: span 3;
    border-radius: 0;
  }
  .contenedor {
    max-width: 1300px;
    display: grid;
    margin: 0;
    grid-gap: 10px;
    grid-template-columns: auto 20%;
    grid-template-rows: repeat(3, auto);
    margin-bottom: 0px;
  }
  .contenedor main .parrafo_main {
    font-size: 16px;
    color: var(--color-primario);
    margin: 40px;
  }
  .ul_botones {
    padding: 10px;
  }
  .ul_botones .botones_animados_footer {
    width: 40px;
    height: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
