@import "./utils/variables.scss";
@import "./base/base.scss";
@import "./components/botones.scss";
@import "./components/temario.scss";
@import "./pages/servicios.scss";
@import "./pages/categorias.scss";
@import "./pages/contacto.scss";
@import "./pages/nosotros.scss";

header {
    background-color: #000000;

    .navbar {
        background: var(--color-primario);
        position: sticky;
        top: 0;
        opacity: 0.9;
        display: flex;
        justify-content: space-between;
        padding: 0px;
        height: 70px;

        a {
            color: rgb(255, 255, 255);
            padding: 20px;
            margin-right: 30px;
            color: var(--color-title);
            transition: 0.3s ease-out all;
            text-decoration: none;
            font-size: 23px;
            &:hover {
                color: var(--color-hovers);
                text-decoration: none;
            }
        }

        ul {
            display: flex;
            margin: 0;
        }

        .boton_logo {
            display: flex;
            background-color: var(--color-primario);
            color: var(--color-icon);
            font-size: 40px;
            border: none;
            padding: 0px 50px;
        }

        .desplegable {
            margin-right: 30px;
            font-size: 35px;
            color: #ffffff;
            cursor: pointer;
            margin: 6px;
            left: 0;
            display: block;

            ul {
                display: none;
            }

            &:hover {
                color: var(--color-hovers);
                background-color: #000000;

                .desplegable_ul {
                    display: block;
                    width: 100vw;

                    li {
                        margin: 30px;
                    }
                }
            }
        }
    }

    .portada {
        background-image: url(../imagenes/portada1.jpg);
        background-size: cover;
        font-size: 100px;
        color: var(--color-title);
        font-weight: 900;
        text-align: center;
    }

    .titulos_principales {
        padding: 10%;
    }
}

body {
    font-family: "Crimson Text" sans-serif;
    font-size: 18px;
    color: var(--color-texto);
    position: relative;
    padding-bottom: 118px;
}

ul {
    list-style: none;
    margin: 30px;

    li {
        text-align: left;
    }

    a {
        text-decoration: none;
        color: var(--color-secundario);

        &:hover {
            color: var(--color-hovers);
        }
    }
}

.contenedor {
    max-width: 1300px;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 20%;
    grid-template-rows: repeat(3, auto);
    margin-bottom: 0px;
    width: 100vw;

    main {
        .parrafo_main {
            margin: 60px;
        }

        .titulo_contenido {
            margin-top: 20px;
            text-align: center;
        }
    }

    .contenido {
        grid-row: 2/3;
        display: flexbox;
        justify-content: center;
        border-radius: 5px;
        padding: 20px;
        background-color: #eef0f2;
    }
}

footer {
    background-color: var(--color-primario);
    color: #555555;
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow-x: hidden;

    .botones_animados_footer {
        display: inline-flex;
        width: 80px;
        height: 50px;
        background-color: var(--color-primario);
        color: var(--color-icon);
        font-size: 30px;
        margin: 10px;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        border: none;
        cursor: pointer;
        transition: 0.3s ease all;
        border-radius: 5px;

        &:hover {
            background-color: #000000;
            color: #ffffff;
        }
    }

    .ul_botones {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        list-style: none;
        margin: 12px;
    }
}

@media (max-width: 992px) {
    .contenido {
        grid-column: span 3;
        border-radius: 0;
    }

    .contenedor {
        max-width: 1300px;
        display: grid;
        margin: 0;
        grid-gap: 10px;
        grid-template-columns: auto 20%;
        grid-template-rows: repeat(3, auto);
        margin-bottom: 0px;

        main .parrafo_main {
            font-size: 16px;
            color: var(--color-primario);
            margin: 40px;
        }
    }
    .ul_botones{
        padding: 10px;
        .botones_animados_footer{
            width: 40px;
            height: 20px;
        }
    }
}