:root {
    --color-primario: #1c1c1c;
    --color-texto: #1c1c1c;
    --color-secundario: #3e5c76;
    --color-navbar: #1d2d44;
    --color-textnav: #3e5c76;
    --color-title: #daddd8;
    --color-icon: #daddd8;
    --bs-body-bg: #dcdcdd;

}