.formulario {
    background-color: #1c1c1c;
    width: 100vw;
    padding: 20px;
    h2{
        text-align: center;
        margin-bottom: 20px;
        color: #eef;
    }
    .titulo_contact{
        text-align: center;
        color: #eef;
        padding-top: 20px;
    }
    form{
        width: auto;
        max-height: 600px;
        max-width: 500px;
        margin: 10px auto;
        padding-left: 50px;
        input{
            width: 400px;
            height: 70px;
            text-align: center;
            padding: 0px 10px;
            margin: 10px;
            font-size: 18px;
        }
        textarea{
            font-size: 18px;
            text-align: center;
            margin-top: 30px;
            padding: 10px;
        }
        button{
            margin: 20px;
        }
        div{
            display: flex;
            justify-content: center;
        }
    }
}
.mapa{
    display: flex;
    justify-content: center;
    padding-left: 100px;
}
@media (max-width: 992px){
        
        .formulario{
            background-color: var(--color-primario);
            padding: 0;
            form{
                padding-left: 0;
                input{
                    margin: 0;
                }
                textarea{
                    width: 100vw;
                }
            }
            section{
                margin: 0;
                padding: 0;
            }
        }
    
}