html {
    scroll-behavior: smooth;
}
.contenedor{
    .sidebar {
        padding: 20px;
        grid-row: 2/3;
        background-color: #eef0f2;
        height: 60vh;
        position: sticky;
        display: flex;
        top: 10px;
        border-radius: 7px;
        flex-direction: column;
        box-shadow: 0px 0px 5px #979797;
        .boton_aside {
            background-color: #eef0f2;
            color: var(--color-primario);
            font-size: 50px;
            border: none;
            cursor: pointer;
            transition: 0.3s ease all;
            border-radius: 5px;
            &:hover{
                color: var(--color-hovers);
            }
        }
    }

}

aside {
    color: var(--color-texto);
    .position_aside{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .contenedor_temario {
        padding-top: 20px;
        margin-bottom: 90px;
    }

    .lista_aside {
        list-style: none;
        padding-left: 10px;
        margin-left: 10px;
    }

    .titulo_aside {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        color: var(--color-primario);
    }

    .lista_aside li {
        position: relative;
        text-align: left;

        &::before {
            content: "";
            display: block;
            height: 12px;
            width: 12px;
            background-color: var(--color-primario);
            transform: rotate(45deg);
            position: absolute;
            left: -19px;
            top: 44%;
        }

        a {
            display: block;
            color: var(--color-primario);
            padding: 15px 10px;
            text-decoration: none;

            &:hover {
                color: var(--color-hovers);
            }
        }
    }
    
}